// select.form-control + i.fa {
//     float: right;
//     margin-top: -25px;
//     margin-right: 11px;
//     pointer-events: none;
//     padding-right: 5px;
// }

// .input-group-text{
//     border-right: none;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     min-height: 37px;
// }