// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #195688;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #c2160a;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #3d8a3f;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Border radius

// $border-radius:               .25rem !default;
// $border-radius-sm:            .2rem !default;
// $border-radius-lg:            .3rem !default;
// $border-radius-pill:          50rem !default;

// $border-radius:               .8rem !default;
// $border-radius-sm:            .5rem !default;
// $border-radius-lg:            .4rem !default;
// $border-radius-pill:          50rem !default;