<template>
    <datatable :columns="columns" :data="rows" class="table table-striped"></datatable>
</template>
 
<script>
    import { VuejsDatatableFactory } from 'vuejs-datatable';
    import ManagmentButtons from './ManagmentButtons'

    Vue.use( VuejsDatatableFactory );
    export default {
        components: {
            ManagmentButtons
        },
        mounted() {
            console.log('Component mounted.')
        },
        props: {
            data: {
                type: Array
            }
        },
        data(){
            return  {
                columns: [
                    {label: 'Cédula Juridica', field: 'legal_id'},
                    {label: 'Nombre corto', field: 'shortname'},
                    {label: 'Nombre completo', field: 'fullname'},
                    {label: 'Correo', field: 'notification_email'},
                    {
                        label: '',
                        name: 'View',
                        filterable: false,
                        component: ManagmentButtons
                    },
                ]
            }
        },
        computed: {
            rows() {
                return this.data.map( e => {
                    return e
                })
            }
        }
    }
</script>