<template>
    <div>
        <a :href="row.show" class="btn text-white btn-sm btn-success"><i class="fa fa-eye"></i> Ver</a>
        <a :href="row.edit" class="btn text-white btn-sm btn-primary"><i class="fa fa-edit"></i> Editar</a>
        <button type="sumbit" class="btn text-white btn-sm btn-danger" @click="modalToggle()"><i class="fa fa-trash"></i> Eliminar</button>
        <form method="POST" :action="row.destroy" ref="form">
            <input type="hidden" name="_token" :value="csrf">
            <input type="hidden" name="_method" value="DELETE">
        </form>
        <modal :open="modal" @change="change" @confirm="destroy"></modal>
    </div>
</template>
<script>
export default {
    props: {
        row: {}
    },
    data(){
      return {
          modal: false
      }  
    },
    methods: {
        destroy(){
            this.$refs.form.submit()
        },
        modalToggle(){
            this.modal = !this.modal
        },
        change(value){
            this.modal = value
        }
    },
    computed: {
        csrf() {
            return document.getElementsByName('csrf-token')[0].getAttribute('content')
        }
    }
}
</script>