<template>
    <div class="modal" tabindex="-1" ref="modal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Eliminar empresa
                </h5>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Por favor ingrese su contraseña para confirmar que desea eliminar la empresa.
                    <br>
                    Recuerde que esta acción es irreversibele y eliminará toda la información vinculada
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger text-white" @click="confirm">Eliminar</button>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        open: {
            type: Boolean,
            default: false,
        },
        trigger: {
            type: Boolean,
            default: true
        }
    },
    data(){
        return {
            modalController: null
        }
    },
    watch: {
        open(value){
            console.log(value)
            if(value){
                this.modalController.show()
            }
        }
    },
    methods: {
        confirm(){
            this.$emit('confirm')
        }
    },
    mounted(){
        this.modalController = new Bootstrap.Modal(this.$refs.modal)
        this.$refs.modal.addEventListener('hide.bs.modal', e => {
            this.$emit('change', false)
        })
    }
}

</script>